<div class="App">
  <header class="App-header">
   <div class="input-group">
    <div class="input-group">
      <input required="" type="text" name="text" autocomplete="off" [(ngModel)]="title" class="input">
      <label class="user-label"></label>
    </div>
    <p><strong>{{title}}</strong></p>
    <label class="user-label"></label>
   </div>
      <button   class='name_button'  (click) = "onClear()" >Clear</button>
      <button   class='name_buttons'  (click) = "onAdd()" >ADD</button>
      <h3></h3>
  </header>
</div>
